openapi: 3.0.3
info:
  title: DevBridge Public Tunnel API
  version: v1
  description: |
    Manage development tunnels, tunnel ports, and temporary connection tokens.
    Request and response field names use snake_case.
servers:
  - url: https://hdspace-partner.cn-north-4.myhuaweicloud.com/open-api-public/v1/relay
    description: CN North-Beijing4
tags:
  - name: Tunnels
    description: Create and manage development tunnels.
  - name: Tokens
    description: Issue temporary Host or Connect tokens.
  - name: Ports
    description: Configure the ports exposed by a tunnel.
paths:
  /tunnels:
    post:
      tags: [Tunnels]
      summary: Create a tunnel
      operationId: createTunnel
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/CreateTunnelRequest"
            example:
              name: frontend-dev
              description: Frontend integration environment
              expiration: 24
      responses:
        "200":
          description: Tunnel created.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/TunnelResponse"
        default:
          $ref: "#/components/responses/ErrorResponse"
    get:
      tags: [Tunnels]
      summary: List tunnels
      operationId: listTunnels
      responses:
        "200":
          description: Tunnel list.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/TunnelListResponse"
        default:
          $ref: "#/components/responses/ErrorResponse"
    delete:
      tags: [Tunnels]
      summary: Delete all tunnels
      description: Deletes all tunnels accessible to the current identity.
      operationId: deleteTunnels
      responses:
        "200":
          description: All tunnels deleted.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/EmptyResponse"
        default:
          $ref: "#/components/responses/ErrorResponse"
  /tunnels/{id}:
    parameters:
      - $ref: "#/components/parameters/TunnelId"
    get:
      tags: [Tunnels]
      summary: Get a tunnel
      operationId: getTunnel
      responses:
        "200":
          description: Tunnel details.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/TunnelResponse"
        default:
          $ref: "#/components/responses/ErrorResponse"
    put:
      tags: [Tunnels]
      summary: Update a tunnel
      operationId: updateTunnel
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/UpdateTunnelRequest"
            example:
              description: Updated integration environment
              expiration: 48
      responses:
        "200":
          description: Tunnel updated.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/EmptyResponse"
        default:
          $ref: "#/components/responses/ErrorResponse"
    delete:
      tags: [Tunnels]
      summary: Delete a tunnel
      operationId: deleteTunnel
      responses:
        "200":
          description: Tunnel deleted.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/EmptyResponse"
        default:
          $ref: "#/components/responses/ErrorResponse"
  /tunnels/{id}/token:
    parameters:
      - $ref: "#/components/parameters/TunnelId"
    post:
      tags: [Tokens]
      summary: Issue a tunnel token
      description: A new token is issued for every successful request.
      operationId: issueTunnelToken
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/IssueTokenRequest"
            example:
              scope: host
      responses:
        "200":
          description: Newly issued token.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/TokenResponse"
        default:
          $ref: "#/components/responses/ErrorResponse"
  /tunnels/{id}/ports:
    parameters:
      - $ref: "#/components/parameters/TunnelId"
    post:
      tags: [Ports]
      summary: Create a tunnel port
      operationId: createTunnelPort
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/CreatePortRequest"
            example:
              port: 8080
              protocol: http
              allow_anonymous: false
      responses:
        "200":
          description: Tunnel port created.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/PortResponse"
        default:
          $ref: "#/components/responses/ErrorResponse"
    get:
      tags: [Ports]
      summary: List tunnel ports
      operationId: listTunnelPorts
      responses:
        "200":
          description: Tunnel port list.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/PortListResponse"
        default:
          $ref: "#/components/responses/ErrorResponse"
  /tunnels/{id}/ports/{port}:
    parameters:
      - $ref: "#/components/parameters/TunnelId"
      - $ref: "#/components/parameters/Port"
    get:
      tags: [Ports]
      summary: Get a tunnel port
      operationId: getTunnelPort
      responses:
        "200":
          description: Tunnel port details.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/PortResponse"
        default:
          $ref: "#/components/responses/ErrorResponse"
    put:
      tags: [Ports]
      summary: Update a tunnel port
      operationId: updateTunnelPort
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/UpdatePortRequest"
            example:
              protocol: https
              allow_anonymous: false
      responses:
        "200":
          description: Updated tunnel port.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/PortResponse"
        default:
          $ref: "#/components/responses/ErrorResponse"
    delete:
      tags: [Ports]
      summary: Delete a tunnel port
      operationId: deleteTunnelPort
      responses:
        "200":
          description: Tunnel port deletion result.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/DeletePortResponse"
        default:
          $ref: "#/components/responses/ErrorResponse"
components:
  parameters:
    TunnelId:
      name: id
      in: path
      required: true
      description: Eight-character lowercase Base32 tunnel ID.
      schema:
        type: string
        pattern: "^[a-z2-7]{8}$"
      example: aaaadysa
    Port:
      name: port
      in: path
      required: true
      description: Tunnel port number.
      schema:
        type: integer
        format: int32
        minimum: 1
        maximum: 65535
      example: 8080
  responses:
    ErrorResponse:
      description: Request failed. Inspect both the HTTP status and error_code.
      content:
        application/json:
          schema:
            $ref: "#/components/schemas/ErrorResponse"
  schemas:
    CreateTunnelRequest:
      type: object
      additionalProperties: false
      required: [name]
      properties:
        name:
          type: string
          maxLength: 128
          description: Tunnel name.
        description:
          type: string
          maxLength: 512
          description: Tunnel description.
        expiration:
          type: integer
          format: int32
          minimum: 1
          maximum: 720
          default: 72
          description: Configured lifetime in hours.
    UpdateTunnelRequest:
      type: object
      additionalProperties: false
      minProperties: 1
      properties:
        name:
          type: string
          maxLength: 128
          description: Tunnel name.
        description:
          type: string
          maxLength: 512
          description: Tunnel description.
        expiration:
          type: integer
          format: int32
          minimum: 1
          maximum: 720
          description: Configured lifetime in hours.
    IssueTokenRequest:
      type: object
      additionalProperties: false
      required: [scope]
      properties:
        scope:
          type: string
          enum: [host, connect]
          description: Intended token use.
    CreatePortRequest:
      type: object
      additionalProperties: false
      required: [port, protocol, allow_anonymous]
      properties:
        port:
          type: integer
          format: int32
          minimum: 1
          maximum: 65535
          description: Tunnel port number.
        protocol:
          $ref: "#/components/schemas/Protocol"
        allow_anonymous:
          type: boolean
          description: Whether unauthenticated public access is allowed.
    UpdatePortRequest:
      type: object
      additionalProperties: false
      minProperties: 1
      properties:
        protocol:
          $ref: "#/components/schemas/Protocol"
        allow_anonymous:
          type: boolean
          description: Whether unauthenticated public access is allowed.
    Protocol:
      type: string
      enum: [http, https, auto]
      description: Protocol used by the local service.
    Tunnel:
      type: object
      required:
        - id
        - name
        - description
        - expiration_hours
        - tunnel_expiration
      properties:
        id:
          type: string
          pattern: "^[a-z2-7]{8}$"
          description: Tunnel ID.
          example: aaaadysa
        name:
          type: string
          description: Tunnel name.
          example: frontend-dev
        description:
          type: string
          description: Tunnel description.
          example: Frontend integration environment
        expiration_hours:
          type: integer
          format: int32
          minimum: 1
          maximum: 720
          description: Configured lifetime in hours.
          example: 24
        tunnel_expiration:
          type: integer
          format: int64
          description: Current expiration time as Unix seconds.
          example: 1785129600
    TunnelListItem:
      allOf:
        - $ref: "#/components/schemas/Tunnel"
        - type: object
          required: [port_count]
          properties:
            port_count:
              type: integer
              format: int32
              minimum: 0
              description: Number of ports configured for the tunnel.
              example: 2
    Token:
      type: object
      required: [tunnel_id, scope, lifetime, expiration, token]
      properties:
        tunnel_id:
          type: string
          pattern: "^[a-z2-7]{8}$"
          description: Tunnel ID.
          example: aaaadysa
        scope:
          type: string
          enum: [host, connect]
          description: Intended token use.
        lifetime:
          type: integer
          format: int64
          minimum: 1
          description: Token lifetime in seconds.
          example: 3600
        expiration:
          type: integer
          format: int64
          description: Token expiration time as Unix seconds.
          example: 1785046800
        token:
          type: string
          description: Token used to establish a Host or Connect session.
          example: <token>
    TunnelPort:
      type: object
      required:
        - tunnel_id
        - tunnel_code
        - port
        - protocol
        - allow_anonymous
      properties:
        tunnel_id:
          type: string
          pattern: "^[a-z2-7]{8}$"
          description: Tunnel ID.
          example: aaaadysa
        tunnel_code:
          type: integer
          format: int64
          minimum: 1
          maximum: 1099511627775
          description: 40-bit numeric tunnel code.
          example: 123456
        port:
          type: integer
          format: int32
          minimum: 1
          maximum: 65535
          description: Tunnel port number.
          example: 8080
        protocol:
          $ref: "#/components/schemas/Protocol"
        allow_anonymous:
          type: boolean
          description: Whether unauthenticated public access is allowed.
          example: false
    SuccessMetadata:
      type: object
      required: [error_code, error_msg]
      properties:
        error_code:
          type: string
          enum: ["0000"]
          description: Success code.
        error_msg:
          type: string
          description: Empty when the request succeeds.
          example: ""
    TunnelResponse:
      allOf:
        - $ref: "#/components/schemas/SuccessMetadata"
        - type: object
          required: [result]
          properties:
            result:
              $ref: "#/components/schemas/Tunnel"
    TunnelListResponse:
      allOf:
        - $ref: "#/components/schemas/SuccessMetadata"
        - type: object
          required: [result]
          properties:
            result:
              type: array
              items:
                $ref: "#/components/schemas/TunnelListItem"
    TokenResponse:
      allOf:
        - $ref: "#/components/schemas/SuccessMetadata"
        - type: object
          required: [result]
          properties:
            result:
              $ref: "#/components/schemas/Token"
    PortResponse:
      allOf:
        - $ref: "#/components/schemas/SuccessMetadata"
        - type: object
          required: [result]
          properties:
            result:
              $ref: "#/components/schemas/TunnelPort"
    PortListResponse:
      allOf:
        - $ref: "#/components/schemas/SuccessMetadata"
        - type: object
          required: [result]
          properties:
            result:
              type: array
              items:
                $ref: "#/components/schemas/TunnelPort"
    DeletePortResponse:
      allOf:
        - $ref: "#/components/schemas/SuccessMetadata"
        - type: object
          required: [result]
          properties:
            result:
              type: boolean
              description: True when the port was deleted.
              example: true
    EmptyResponse:
      allOf:
        - $ref: "#/components/schemas/SuccessMetadata"
        - type: object
          required: [result]
          properties:
            result:
              type: object
              description: No result content.
              example: {}
    ErrorResponse:
      type: object
      required: [error_code, error_msg, result]
      properties:
        error_code:
          type: string
          pattern: "^HD\\.[0-9]{8}$"
          description: Public API error code.
          example: HD.98320078
        error_msg:
          type: string
          description: Human-readable error message.
          example: Tunnel was not found.
        result:
          type: object
          nullable: true
          description: Null when the request fails.
          example: null
